<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="/style/book.css">
</head>

<body>
    <div class="container3">
        <h1>Book Now</h1>

        <img src="/image/family.png" alt="">

        <div class="inputbox">
            <h1></h1>
            <form action="/book" method="post">
                Where To:<br><br><input type="text" name="Pname" placeholder="Enter your destination"><br><br>
                How Many:<br><br><input type="number" name="Hname" placeholder="Number of person"><br><br>
                Arrival:<br><br><input type="date" name="Atime"><br><br>
                Leaving:<br><br><input type="date" name="Ltime"><br><br>
                <div class="btn">
                    <input type="submit" value="Book Now">
                    <input type="reset" value="reset">

                </div>


            </form>
        </div>





    </div>

</body>

</html>