<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link rel="stylesheet" href="/style/contact.css">
</head>

<body>
  <div class="container4">
    <h1>Contact us </h1>
    <form  action="/contact" method="post">
      <div class="inputbox">
        <input type="text" name="fname"  placeholder="Enter your first name">
        <input type="text" name="lname"   placeholder="Enter your last name"><br><br>
        <input type="number" name="Pno" placeholder="Enter your mobile no">
        <input type="text" name="email"  placeholder="Enter your email"><br><br>

        <div class="textarea-field">
          <textarea name="text" cols="30" rows="10" placeholder="Type your review.."></textarea><br><br>
          <div class="btn">
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
          </div>









        </div>






    </form>

  </div>
</body>

</html>