<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/Gallery.css">
</head>

<body>
    <div class="text">
        <h1>Gallery</h1>
    </div>
    <div class="container3">
        <div class="box">

            <div class="imgbox">
                <img src="/image/u1.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Amazing place</h2>
                    <p>
                        it is a natural place for a good trip with family
                    </p>
                    <a href="https://goo.gl/maps/eNYRTZrKnBSdzTGm8" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="box">

            <div class="imgbox">
                <img src="/image/u2.webp" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Amazing place</h2>
                    <p>
                        it is a natural place for a good trip with family
                    </p>
                    <a href="https://goo.gl/maps/kBSH88BxAVv452qB9" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="box">

            <div class="imgbox">
                <img src="/image/u3.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Amazing place</h2>
                    <p>
                        it is a natural place for a good trip with family
                    </p>
                    <a href="https://goo.gl/maps/UqMKXEmGh1TrETZJ7" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="box">

            <div class="imgbox">
                <img src="/image/u4.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Amazing place</h2>
                    <p>
                        it is a natural place for a good trip with family
                    </p>
                    <a href="https://goo.gl/maps/LFeSzqby8bgAQ4ABA" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="box">

            <div class="imgbox">
                <img src="/image/u5.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Amazing place</h2>
                    <p>
                        it is a natural place for a good trip with family
                    </p>
                    <a href="https://goo.gl/maps/ZNMLVf8TEeT5tJ9U9" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="box">

            <div class="imgbox">
                <img src="/image/u6.webp" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Amazing place</h2>
                    <p>
                        it is a natural place for a good trip with family
                    </p>
                    <a href="https://goo.gl/maps/XBNaQQ9hhvbBpM7B7" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="box">

            <div class="imgbox">
                <img src="/image/u7.webp" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Amazing place</h2>
                    <p>
                        it is a natural place for a good trip with family
                    </p>
                    <a href="https://goo.gl/maps/3Sn4tib1dRH72FeU7" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="box">

            <div class="imgbox">
                <img src="/image/u8.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Amazing place</h2>
                    <p>
                        it is a natural place for a good trip with family
                    </p>
                    <a href="https://goo.gl/maps/EGGpdN2fqP7nryuXA" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="box">

            <div class="imgbox">
                <img src="/image/u9.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Amazing place</h2>
                    <p>
                        it is a natural place for a good trip with family
                    </p>
                    <a href="https://goo.gl/maps/bjXAciWkRyPysW4m9" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="box">

            <div class="imgbox">
                <img src="/image/u10.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Amazing place</h2>
                    <p>
                        it is a natural place for a good trip with family
                    </p>
                    <a href="https://images.app.goo.gl/2bsDFcTWb812YHH27" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="box">

            <div class="imgbox">
                <img src="/image/u11.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Amazing place</h2>
                    <p>
                        it is a natural place for a good trip with family
                    </p>
                    <a href="" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="box">

            <div class="imgbox">
                <img src="/image/u12.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Amazing place</h2>
                    <p>
                        it is a natural place for a good trip with family
                    </p>
                    <a href="" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="box">

            <div class="imgbox">
                <img src="/image/u13.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Amazing place</h2>
                    <p>
                        it is a natural place for a good trip with family
                    </p>
                    <a href="https://goo.gl/maps/Tyk7rMobBQXhxgru9" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="box">

            <div class="imgbox">
                <img src="/image/u14.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Amazing place</h2>
                    <p>
                        it is a natural place for a good trip with family
                    </p>
                    <a href="https://goo.gl/maps/Qsn3RzwavuzZq5LE8" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="box">

            <div class="imgbox">
                <img src="/image/u15.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Amazing place</h2>
                    <p>
                        it is a natural place for a good trip with family
                    </p>
                    <a href="https://goo.gl/maps/SzYq2yfoYbTXrGNo9" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="box">

            <div class="imgbox">
                <img src="/image/u16.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Amazing place</h2>
                    <p>
                        it is a natural place for a good trip with family
                    </p>
                    <a href="https://goo.gl/maps/iQJAFcQ158kXJAnS6" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="box">

            <div class="imgbox">
                <img src="/image/u17.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Amazing place</h2>
                    <p>
                        it is a natural place for a good trip with family
                    </p>
                    <a href="https://goo.gl/maps/kDBnpxWgG3nV6y49A" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="box">

            <div class="imgbox">
                <img src="/image/u18.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Amazing place</h2>
                    <p>
                        it is a natural place for a good trip with family
                    </p>
                    <a href="https://goo.gl/maps/Az2563ALyW6UWqJK6" class="btn">See More</a>
                </div>
            </div>
        </div>


    </div>


</body>

</html>