<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>package</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/package.css">
    
</head>
<body>
    <div class="container2">
        <h1>package</h1>

        <div class="service">


            <img src="/image/u5.jpg" alt="">
             
            <h2> Hirakud</h2>
            <p> Hirakud Dam is built across the Mahanadi <br>River,
                 about 15 kilometres from Sambalpur <br>in the state of Odisha in India.</p>
                 <i class="fa fa-star" style="color:green;" ></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"></i>
                 <h3>$80.00</h3> 
                <a href="/book" class="btn">Book Now</a>
             
        </div>  

        <div class="service1">


            <img src="/image/u6.webp" alt="">
             
            <h2>Puri</h2>
            <p> Jagannath Temple is an important Hindu <br>temple dedicated to
                 Jagannath,  it is one of<br> the trinity of supreme divinity in Hinduism.</p>
                 <i class="fa fa-star" style="color:green;" ></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"></i>
                 <h3>$90.00</h3> 
                <a href="/book" class="btn">Book Now</a>
             
        </div>
        
        
        <div class="service2">


            <img src="/image/u7.webp" alt="">
             
            <h2> Konark</h2>
            <p> Konark is the place nearest of the puri <br>that is famous for sun temple.Konark Sun <br>Temple 
                is a 13th-century CE (year 1250)</p>
                 <i class="fa fa-star" style="color:green;" ></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"></i>
                 <h3>$90.00</h3> 
                <a href="/book" class="btn">Book Now</a>
             
        </div>  


        <div class="service3">


            <img src="/image/u8.jpg" alt="">
             
            <h2> Bhubaneswar</h2>
            <p> Bhubaneswar is the capital and largest city <br>of the 
                Indian state of Odisha, located in the Khordha district</p>
                 <i class="fa fa-star" style="color:green;" ></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"></i>
                 <h3>$100.00</h3> 
                <a href="/book" class="btn">Book Now</a>
             
        </div>  


        <div class="service4">


            <img src="/image/u9.jpg" alt="">
             
            <h2> Cilika</h2>
            <p> Chilika Lake is a brackish water lagoon,<br> spread over the Puri, 
                Khordha and Ganjam<br>  districts of Odisha</p>
                 <i class="fa fa-star" style="color:green;" ></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"></i>
                 <h3>$150.00</h3> 
                <a href="/book" class="btn">Book Now</a>
             
        </div>  
        <div class="service5">


            <img src="/image/u18.jpg" alt="">
             
            <h2> Gopalpur Beach</h2>
            <p> Gopalpur beach is situated 20 Kms from<br> the nearest major
                 city of Berhampur and is<br>  easily accessible via road and rail.</p>
                 <i class="fa fa-star" style="color:green;" ></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"></i>
                 <h3>$150.00</h3> 
                <a href="/book" class="btn">Book Now</a>
             
        </div>  

        <div class="service6">


            <img src="/image/u17.jpg" alt="">
             
            <h2> Khordha</h2>
            <p> Hirakud Dam is built across the Mahanadi <br>River,
                 about 15 kilometres from Sambalpur <br>in the state of Odisha in India.</p>
                 <i class="fa fa-star" style="color:green;" ></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"></i>
                 <h3>$200.00</h3> 
                <a href="/book" class="btn">Book Now</a>
             
        </div>  

        <div class="service7">


            <img src="/image/u1.jpg" alt="">
             
            <h2> Maa Ghanteswari Temple</h2>
            <p>Maa Ghanteswari Temple is located at 33 kms south-west of Sambalpur and on the bank of<br> river Mahanadi.</p>
                 <i class="fa fa-star" style="color:green;" ></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"style="color:green;"></i>
                 <i class="fa fa-star"></i>
                 <h3>$80.00</h3> 
                <a href="/book " class="btn">Book Now</a>
             
        </div>  






        
    </div>
    
</body>
</html>