<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
    <link rel="stylesheet" href="/style/service.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container5">
        <h1>service</h1>
        
         
   
  
          <div class="service">


            <i class='bx bxs-plane-alt' style='color:#ffa500'></i>
            <h2> Fastest Travel</h2>
            <p>Air Charter Service has extensive experience in <br>arranging aircraft charters 
                for travel agents, travel <br><span>management companies  .</span></p>

        </div>  
 

          <div class="service1">


            <i class="fa fa-bullhorn" style='color:#ffa500'></i>
            <h2> Safty Guide</h2>
            <p>Tour guides ensure that itineraries are met and that<br> customers
                     are being informed in an entertaining manner<br><span> the location they are touring.</span></p>

        </div>
  


    

         <div class="service2">


            <i class="fa fa-cutlery" style='color:#ffa500'></i>
            <h2> Food and Drink</h2>
            <p>Service of variety of foods and beverages in lounge area of a hotel or independent place.  
                Here food is <span>served to guests in their allotted rooms.</span> 
            </p>

        </div>

  


       <div class="service3">


            <i class="fa fa-hotel" style='color:#ffa500'></i>
            <h2> Affordable hotel</h2>
            <p> <span1>24-Hour room service; Free wireless internet access;</span1><br> Complimentary use of hotel
                 bicycle; Laundry service;<br><span></span> Tour & excursions; 24 Hour concierge.</span></p>

        </div>

  


         <div class="service4">


            <i class="fa fa-globe" aria-hidden="true" style='color:#ffa500'></i>
            <h2> Around The World </h2>
            <p>INTERNATIONAL GROUP TOUR SERVICES.<br> We handle group tours.exclusive family holidays<br> <span>and also honey moons all over India</span></p>

        </div> 




         <div class="service5">


            <i class="fa fa-blind" aria-hidden="true" style='color:#ffa500'></i>
            <h2> Adventure</h2>
            <p>Adventure tourism is a tourism trip that includes<br> at least three elements physical
                 activity, natural <span>environment, and cultural immersion.</span></p>

        </div> 




    </div>







</body>

</html>