<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traveling Website</title>
    <link rel="stylesheet" href="/style/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <div class="logo">Travellers</div>
    <nav>

        <ul>
            <li><a href="#"style="--i:1;">Home</a></li>
            <li><a href="/Gallery"style="--i:2;">Gallery</a></li>
            <li><a href="/service"style="--i:3;">service</a></li>
            <li><a href="/package"style="--i:4;">package</a></li>
            <li><a href="/book"style="--i:5;">Book</a></li>
            <li><a href="/contact"style="--i:6;">Contact us</a></li>

            <a href="/signup"style="--i:7;"><i class='bx bxs-user'></i></a>



        </ul>
    </nav>



    <div class="container">
        <h1>Never Stop </h1> 
        <h2>Explore The World With Us</h2><br>
        <p>The want and needs of tourist are often regards as travel motivation<br><span>
            motivation is something that stimulates interest
            or causes a person to act ina certain
            way.</span>
        </p>
        <div class="search">

        <input type="text" name="" id="search" placeholder="Enter your city">
        <button class="btn"> Search</button>
    </div>


    </div>


















</body>

</html>